<!--<div>-->
<!--  &lt;!&ndash;  className={Styles.wrapperItem}&ndash;&gt;-->

<!--  <div>-->
<!--    &lt;!&ndash;    className={Styles.leftSide}&ndash;&gt;-->

<!--    <div>-->
<!--      &lt;!&ndash;      className={Styles.progressBar}&ndash;&gt;-->

<!--      <div>-->

<!--        &lt;!&ndash;        style={{ width: `${progress}%` }}&ndash;&gt;-->
<!--      </div>-->
<!--      <label>{{file.name}}</label>-->
<!--      <div className='row mt-5'>-->
<!--        <div className='col-md-6 m-auto'>-->
<!--          <img [src]="previewFile" alt=''>-->
<!--          &lt;!&ndash;          style={{ width: '100%' }} &ndash;&gt;-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <span>-->
<!--&lt;!&ndash;    className={Styles.percentage}&ndash;&gt;-->

<!--      {{progress}}%</span>-->
<!--  </div>-->
<!--</div>-->
