<h2>Multiple</h2>
<div style="text-align: center">
  <form>
    <div>
      <input type="file" name="images" multiple (change)="selectMultipleImage($event)" />
    </div>
    <br>
    <div>
      <button class="btn btn-success" type="submit" (click)="onMultipleSubmit()">Multiple Upload</button>
    </div>
  </form>

  <div class="wrapper">
    <h4>Uploading Files</h4>
    <div class="wrapperItem" *ngFor='let img of imgArray'>
        <div class="leftSide">
          <label>{{img.name}}</label>
          <div class='row mt-5'>
            <div class='col-md-6 m-auto'>
              <img style="width: 100%" [src]="img.url" alt=''/>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
