<!-- <div>
  <div className="container mt-4">
    <h4>Multiple File Upload</h4>
    <div>
      <form>
        <div className="custom-file mt-4">
          <input type="file" className="custom-file-input" id="customFile" multiple (change)="handleUploadChange($event)">
          <label className="custom-file-label" htmlFor="customFile">Choose file</label>
          <button type="submit">Upload</button>
        </div>
      </form>
      <app-progress [previewFile]="file" > </app-progress>
      <img *ngFor='let img of imgArray'  [src]="img" height="200"> <br/>
    </div>
  </div>
</div> -->
<hr>
<h2 style="text-align: center">Multiple</h2>
<div style="text-align: center">
  <form>
    <div>
      <input type="file" name="images" multiple (change)="selectMultipleImage($event)" />
    </div>
    <br>
    <div>
      <button type="submit" (click)="onMultipleSubmit()">Multiple Upload</button>
    </div>
  </form>
</div>
