<div className="App">
  <div className="container mt-4">
  <h4>Multiple File Upload</h4>
    <Fragment>
      <form>
        <div className="custom-file mt-4">
          <input type="file" className="custom-file-input" id="customFile" multiple (change)="handleOnChange($event.target.files)"/>
        
          <label className="custom-file-label" htmlFor="customFile">Choose file</label>
        </div>
      </form>
      <app-progress [previewFile]="file"> </app-progress>

    </Fragment>
  </div>
</div>